body {
    padding: 0 120px;
    margin: 0;
    background: url('Images/brick.jpg') fixed;
    background-origin: content-box;
    background-size: 100% auto;
    color: #f5f5f5;
    font-family: 'Cabin', sans-serif;
}

h1 {
    font-family: dungeon;
    font-size: 6em;
    letter-spacing: 8px;
    text-shadow:0 0 10px #000;
    margin-bottom:0;
}
a {
    text-decoration:none;
    color:none;
}
h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 1.3em;
    letter-spacing: 3px;
    text-align:center;
}
h3 {
    font-family: dungeon;
    font-size: 4em;
    letter-spacing: 6px;
    margin: 0;
    color: #222;
    padding: 20px 0 0 40px;
}
h6 {
    font-family: 'Cabin', sans-serif;
    font-size: 1.1em;
    margin: 50px 0 0 0;
    float: right;
}
@font-face {
    font-family: dungeon;
    src: url(../fonts/DUNGRG__.TTF);
}
.board {
    width: 100%;
    margin: auto;
    height: 400px;
    background: rgba(245,245,245,.9);
    box-shadow: 0 0 20px #000;
    display: inline-flex;
}
.dungeons, .invited-dungeons {
    width:50%;
    color:#222;
    display:inline-block;
}
.button {
    width: 150px;
    height: 30px;
    padding-top: 10px;
    background: #C62828;
    color: #f5f5f5;
    border-radius: 2px;
    transition: color .5s;
    border: 2px solid #222;
    cursor: pointer;
    text-align: center;
    margin: 20px auto;
}
.button:hover {
    color: #222;
    background: #f5f5f5;
}
.dungeons-list {
    width:80%;
    margin:0 10%;
    height:250px;
    background:#f5f5f5;
    overflow:auto;
}
.dungeon-item {
    width:80%;
    border-bottom:1px solid #222;
    margin-left:20%;
    margin:auto;
    padding:10px 0;
    cursor:pointer;
    transition: color .3s;
}
.dungeon-item:hover {
    background:#222;
    color:#f5f5f5;
}
.create-board {
    width: 100%;
    margin: 50px auto;
    background: rgba(245,245,245,.9);
    box-shadow: 0 0 20px #000;
}
.create-board, #preview-container {
    height: 550px;
}

#dimensions, #monsters, #loot {
    height: 334px;
}
#monsters, #loot {
    display:none;
}
#submit_container{
    display:flex;
}
#final-ok {
    display:none;
}
.ok-button {
    width: 250px;
    height: 60px;
    font-size: 1.5em;
    padding-top: 5px;
}
#form-container{
    width:70%;
    display:inline-block;
}
#preview-container {
    width: 30%;
    display: inline-block;
    background: #222;
    float:right;
}
#preview-display, #err {
    background: #f5f5f5;
    margin: 22px;
}
#preview-display {
    height: 384px;
    overflow:scroll;
    color:#222;
}
#preview-display p {
    margin: 7px;
    display: inline-block;
    width: 95%;
}
#err {
    height: 100px;
    color: #D32F2F;
}
#err p {
    margin: 7px;
    display: inline-block;
    width:95%;
}
#back-button {
    padding: 0;
    background: url('Images/back.png') no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    transition:background .3s;
    visibility:hidden;
}
#back-button:hover {
    background: url('Images/back-h.png') no-repeat;
    background-size: contain;
}
.input-field {
    margin: 10px 10px 10px 40px;
}





.dropdown {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #50555C;
    color: #f5f5f5;
    height: 29px;
    overflow: hidden;
    width: 240px;
    font-family: 'Cabin', sans-serif;
}
.dropdown select {
    background: #C62828;
}
.divider {
    width: 50%;
    display: inline-block;
    float: left;
    color: #222;
    text-align:center;
}
input[type=range] {
    height: 26px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 14px;
}

input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #C62828;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
}

  






