body {
    background: url('Images/dungeon_bg.png') fixed;
    background-origin: content-box;
    background-size: 100% auto;
    margin: 0;
    color: #f5f5f5;
    font-family: 'Cabin', sans-serif;
}
.login {
    font-size: 1.5em;
}
.form-control {
    width:300px;
    height:25px;
}
a {
    color:#f5f5f5;
    text-decoration:none;
}
ul{
    list-style:none;
    padding:0;
}
.form_container {
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #f5f5f5;
    text-align: center;
    font-family: dungeon;
}
.top-50 {
    top: -50px;
}
.top-0 {
    top:0px;
}
.center_page {
    margin: auto;
    position: fixed;
    -moz-transform: translate(0, 50%);
    -webkit-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    -o-transform: translate(0, 50%);
    transform: translate(0, 50%);
    height: 100%;
    width: 100%;
}
#title_container {
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #f5f5f5;
    text-align: center;
    font-family: dungeon;
}
.login_button {
    margin: 20px 0;
    font-family: dungeon;
    width: 120px;
    font-size: 1.2em;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    background: #222;
    color: #f5f5f5;
    transition: color .5s;
    cursor: pointer;
    letter-spacing:2px;
}
#button_container {
    display:inline-block;
    margin:auto;
}
.title_button {
    width: 150px;
    display: inline-block;
    font-size: 2em;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    margin: 10px 20px;
    transition: color .5s;
    cursor: pointer;
    background:#222;
}
.title_button:hover, .login_button:hover {
    background: #f5f5f5;
    color: #000;
    text-shadow: none;
}
h1 {
    font-size: 10em;
    margin-bottom: 0;
    letter-spacing: 10px;
    text-shadow: 0 0 10px #000;
}
h2 {
    margin: 0;
    font-size: 4em;
    letter-spacing: 4px;
    text-shadow: 0 0 10px #000;
}
#fire {
    position:fixed;
    z-index:-1;
    bottom:0;
    margin:0 auto;
    right:0;
    left:0;
    opacity:.8;
    width:600px;
}
#back-button {
    padding: 0;
    background: url('Images/back.png') no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    transition: background .3s;
    float:left;
    margin:20px 0 0 45px;
    border:2px solid #f5f5f5;
    border-radius:4px;
}

#back-button:hover {
    background: url('Images/back-h.png') no-repeat;
    background-size: contain;
}
.form-group {
    display: inline-block;
    width: 100%;
}
.form-group-2 {
    width:302px;
    margin:0 auto;
}
    
@font-face {
    font-family: dungeon;
    src: url(../fonts/DUNGRG__.TTF);
}