body {
    background: url('Images/dungeon_bg.png') fixed;
    background-origin: content-box;
    background-size: 100% auto;
    margin:0;
}
.center-page {
    margin: auto;
    position: fixed;
    top: -50px;
    -moz-transform: translate(0, 50%);
    -webkit-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    -o-transform: translate(0, 50%);
    transform: translate(0, 50%);
    height: 100%;
    width: 100%;
}
#title_container {
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #f5f5f5;
    text-align: center;
    font-family: dungeon;
}
#button_container {
    display:inline-block;
    margin:auto;
}
.title_button {
    width:150px;
    display:inline-block;
    font-size:2em;
    border:2px solid #f5f5f5;
    border-radius:5px;
    margin: 10px 20px;
    transition:color .5s;
    cursor:pointer;
}
.title_button:hover{
    background:#f5f5f5;
    color:#000;
}
h1 {
    font-size:10em;
    margin-bottom:0;
    letter-spacing:10px;
}
h2 {
    margin: 0;
    font-size: 4em;
    letter-spacing: 4px;
}
@font-face {
    font-family: dungeon;
    src: url(../fonts/DUNGRG__.TTF);
}