@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Dashboard";
}

    <h6>Welcome, Michael &nbsp;&nbsp;&nbsp;&nbsp;Logout</h6>
    <h1>Dashboard</h1>
    <div class="board">
        <div class="dungeons">
            <h2>My Dungeons</h2>
            <div class="dungeons-list">
                <div class="dungeon-item">Dungeon #1</div>
                <div class="dungeon-item">Dungeon #2</div>
                <div class="dungeon-item">Dungeon #3</div>
                <div class="dungeon-item">Dungeon #4</div>
                <div class="dungeon-item">Dungeon #5</div>
                <div class="dungeon-item">Dungeon #6</div>
                <div class="dungeon-item">Dungeon #7</div>
                <div class="dungeon-item">Dungeon #8</div>
            </div>
            <a href="/Dungeon/Create">
                <div class="button">
                    Create Dungeon
                </div>
            </a>
    </div>
        <div class="invited-dungeons">
            <h2>Friend's Dungeons</h2>
            <div class="dungeons-list">
                <div class="dungeon-item">Dungeon #1</div>
                <div class="dungeon-item">Dungeon #2</div>
                <div class="dungeon-item">Dungeon #3</div>
                <div class="dungeon-item">Dungeon #4</div>
                <div class="dungeon-item">Dungeon #5</div>
                <div class="dungeon-item">Dungeon #6</div>
                <div class="dungeon-item">Dungeon #7</div>
                <div class="dungeon-item">Dungeon #8</div>
            </div>
        </div>
    </div>
