<div class="center_page top-50">
    <div id="title_container">
        <h1>Contingency</h1>
        <h2>Dungeon Generator</h2>
        <div id="button_container">
            <a href="/Home/Dashboard"><div class="title_button">Login</div></a>
            <a href="/Account/Register"><div class="title_button">Register</div></a>
</div>
    </div>
</div>



