<div class="center-page">
    <div id="title_container">
        <h1>Contingency</h1>
        <h2>Dungeon Generator</h2>
        <div id="button_container">
            <div class="title_button">Login</div>
            <div class="title_button">Register</div>
        </div>
    </div>
</div>



