@model Contingency.Models.DungeonCreator

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dungeon</title>
</head>
<body>
    <div>
        I need to design this :/
    </div>
</body>
</html>
