@model Contingency.Models.DungeonCreator

@{
    ViewBag.Title = "Dungeon";
    Layout = "~/Views/Shared/_DMLayout.cshtml";
}

<h3>Dungeon</h3>
<div id="dung-canvas">
    <canvas id="main-canvas" width="800" height="1000"></canvas>
</div>

